@import "app";
@import "./login/login";
@import "./landing/landing";
@import "./login/components/components";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.action-button-positiv {
  border: none;
  height: 30px;
  width: 100px;
  margin-left: 0;
  background-color: #acffac;
  cursor: pointer;
}

.action-button-negativ {
  border: none;
  height: 30px;
  width: 100px;
  margin-left: 0;
  background-color: #f57878;
  cursor: pointer;
}

.action-button-positiv:active,
.action-button-negativ:active,
.action-button-positiv:focus,
.action-button-negativ:focus {
  outline: none;
}
